<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>test</display-name>
	<welcome-file-list>
		<welcome-file>chat.jsp</welcome-file>
	</welcome-file-list>
	
	<servlet>
		<servlet-name>WebBot</servlet-name>
		<servlet-class>web.WebBot</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>WebBot</servlet-name>
		<url-pattern>/WebBot</url-pattern>
	</servlet-mapping>
	
	<filter>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>web.EncodingFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>